@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-inter);
  
  @apply outline-light-blue-500;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav li {
  @apply border-2 border-transparent rounded px-2 p-1 transition-[.5s] hover:border-b-light-blue-500;
}

main {
  @apply bg-white h-screen w-full;
}

main h1 {
  cursor: default;
  text-align: center;
  @apply font-bold font-header text-5xl pt-1 pb-3;
}

main form input {
  padding: 3px;
  border-radius: .125rem;
}